// breaks for responsive behavior
$break-xs: 400px;
$break-s: 550px;
$break-m: 770px;
$break-l: 990px;
$break-xl: 1200px;

// fonts

$exo-2: 'Exo 2', sans-serif;

$text-dark: #505050;
$text-light: #EEEEEE;
$text-medium: #CCCCCC;
