@import url(https://fonts.googleapis.com/css?family=Exo+2:400,600);
html {
  box-sizing: border-box; }

*,
*:before,
*:after {
  box-sizing: inherit; }

html,
body {
  font-family: "Exo 2", sans-serif;
  font-size: 16px;
  color: #EEEEEE;
  line-height: 20px;
  margin: 0;
  height: 100%; }

.body__wrapper {
  min-height: 100%;
  position: relative; }

.main__content {
  background-color: #808080;
  height: 100%;
  padding-top: 50px;
  padding-bottom: 80px; }

.section__header {
  text-align: left;
  padding-left: 20px; }
  .section__header > h1 {
    color: #CCCCCC; }

header {
  background-color: #EEEEEE; }

.nav {
  display: inline-block;
  text-align: left;
  font-size: 1.2rem;
  line-height: 1.8rem;
  padding-left: 10px; }
  .nav > ul {
    display: inline-block;
    padding: 10px 0 10px 0;
    text-decoration: none;
    margin: 0; }
    .nav > ul > li {
      display: inline-block;
      padding: 0 10px; }
    .nav > ul > li a {
      text-decoration: none;
      color: green;
      padding: 5px; }
      .nav > ul > li a:hover {
        background-color: #CCCCCC; }

.nav li ul.dropdown {
  display: none;
  z-index: 1;
  padding-left: 5px;
  margin: 0;
  vertical-align: baseline; }

@media all and (min-width: 770px) {
  ul li:hover ul.dropdown {
    display: inline-block;
    text-decoration: none;
    margin: 0;
    vertical-align: baseline; } }
@media all and (min-width: 770px) {
  ul li ul.dropdown li {
    display: inline-block;
    padding: 0 10px;
    margin: 0;
    vertical-align: baseline; } }
.dropdown img {
  height: 20px; }

footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 50px;
  margin: 0 auto; }

.contact__info {
  margin: 0 auto;
  display: block;
  text-align: center; }
  .contact__info > ul {
    display: inline-block;
    padding: 0;
    text-decoration: none;
    margin: 0 auto; }
    .contact__info > ul > li {
      display: inline-block;
      padding: 0 10px; }

.contact__info img {
  height: 30px; }

.skills {
  background-color: #EEEEEE;
  width: 100%;
  height: 100%;
  padding: 10px 0;
  margin: 0 auto; }
  .skills > .section__header h1 {
    color: #505050;
    margin: 5px 0 20px 0; }

.skill__type {
  display: inline-block;
  vertical-align: top;
  padding: 0 10px;
  width: 80%; }
  @media all and (min-width: 400px) {
    .skill__type {
      width: 48%; } }
  @media all and (min-width: 550px) {
    .skill__type {
      width: 32%; } }
  @media all and (min-width: 770px) {
    .skill__type {
      width: 24%; } }

.subsection__header {
  text-align: center; }
  .subsection__header > h3 {
    color: #505050;
    margin: 5px 0; }

.skill__list img {
  display: block;
  height: 100px;
  max-width: 100px;
  margin: 0 auto; }

.skill__list ul {
  text-decoration: none;
  list-style-type: circle;
  color: #505050;
  line-height: 1.5rem; }

.my__work {
  padding: 0 10px 20px 10px; }

.example__work {
  display: inline-block;
  vertical-align: top; }
  @media all and (min-width: 550px) {
    .example__work {
      width: 48%; } }
  @media all and (min-width: 770px) {
    .example__work {
      width: 33%; } }

.portfolio__image {
  width: 90%;
  margin: 10px auto; }
  @media all and (min-width: 550px) {
    .portfolio__image {
      width: 90%; } }
  .portfolio__image > img {
    width: 100%;
    height: 100%;
    overflow: hidden;
    border: solid 2px #CCCCCC;
    border-radius: 0 20%; }

.portfolio__description {
  padding: 10px;
  background-color: #999999;
  border-radius: 5px;
  margin: 0 15px; }
  .portfolio__description > p {
    text-align: left;
    font-size: .9rem;
    margin-top: 0; }

/*# sourceMappingURL=main.css.map */
